@import '../src/style/normalize.css';
@font-face {
  font-family: "Gilroy";
  src: url("../src/fonts/Gilroy-Medium.woff2") format("woff2"), url("../src/fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../src/fonts/Gilroy-Bold.woff2") format("woff2"), url("../src/fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  background-color: #ddd8d8;
  font-size: 15px;
  color: #090909;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  min-width: 319px;
  max-width: 380px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.src-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a, button {
  text-align: center;
  transition-duration: 300ms;
  cursor: pointer;
}
a:hover, button:hover {
  outline: none;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

button {
  border: none;
  background-color: var(--main-color);
}

button:hover {
  opacity: 0.5;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
}
.header .burger {
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 35px;
  width: 28px;
  height: 28px;
  transition: background-image 150ms ease-in-out;
  display: inline-block;
  background-image: url("../src/img/menu/burger1.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.header .burger.open {
  display: inline-block;
  background-image: url("../src/img/menu/x.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.header .header-wrapper {
  display: grid;
  grid-template-areas: "logo person-name burger" "logo person .";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 2fr 1fr;
  padding-top: 55px;
  padding-bottom: 35px;
  font-size: 15px;
}
.header .header-wrapper .header__logo-link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  grid-row-start: 1;
  grid-row-end: 4;
  align-self: center;
  text-align: start;
  margin-bottom: -5px;
}
.header .header-wrapper .header__logo-link .header__logo-img {
  width: 65px;
  object-fit: contain;
}
.header .header-wrapper .person-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: person-name;
  max-width: 185px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 27px;
}
.header .header-wrapper .person {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: person;
  font-size: 17px;
}
.header .header-wrapper .person .person-profession {
  font-size: 17px;
}
.header .header__nav {
  display: none;
  position: relative;
  padding-top: 30px;
  padding-bottom: 120px;
  grid-template-columns: 1fr;
  justify-content: start;
}
.header .header__nav .header__nav-lang {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  padding: 10px 15px 40px 15px;
  bottom: 30px;
  right: -30px;
  transform: rotate(90deg);
  color: #828282;
}
.header .header__nav .header__nav-lang .eng {
  color: black;
}
.header .header__nav .header__nav-list .header__nav-item .header__nav-link {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 80%;
  text-align: start;
  color: #828282;
  font-size: 22px;
  font-weight: bold;
}
.header .header__nav .header__nav-list .header__nav-item .header__nav-link.nav-link-active {
  color: black;
}

.menu-open {
  display: grid !important;
}

.menu-close {
  display: none !important;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.main .main-foto {
  max-width: 280px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.main .main-foto .main-foto__img {
  margin-left: 15px;
  width: 30%;
  transition: width 300ms ease-in-out;
  border-radius: 50px;
  object-fit: contain;
  cursor: pointer;
}
.main .main-foto .main-foto__img.full {
  width: 80% !important;
  border-radius: 8px;
}
.main .about .about-list .about-item {
  text-align: center;
  padding: 5px 15px 5px 15px;
}
.main .about .about-list .about-item:not(:last-child) {
  padding-bottom: 30px;
}
.main .skills .skill-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}
.main .skills .skill-list .skill-item {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  transition: margin 600ms ease-in-out;
}
.main .skills .skill-list .skill-item:not(:last-child) {
  padding-bottom: 15px;
}
.main .skills .skill-list .skill-item img {
  margin: auto;
  width: auto;
  max-width: 100px;
  height: 60px;
}
.main .skills .skill-list .skill-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  color: #828282;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
.main .skills .skill-list .skill-item span.toLeft span {
  opacity: 1;
}
.main .skills .skill-list .skill-item span.toLeft img {
  margin-left: 0;
}
.main .portfolio {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.main .portfolio .portfolio-list {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}
.main .portfolio .portfolio-list .portfolio-item {
  padding: 7px;
  width: 100%;
  text-align: center;
  border: 1px solid #f1e3e3;
  border-radius: 8px;
  overflow: hidden;
}
.main .portfolio .portfolio-list .portfolio-item:not(:last-child) {
  margin-bottom: 20px;
}
.main .portfolio .portfolio-list .portfolio-item.your-site {
  padding: 0;
}
.main .portfolio .portfolio-list .portfolio-item.your-site .your-site__link {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  color: #ddcccc;
}
.main .portfolio .portfolio-list .portfolio-item .portfolio-img {
  width: 100%;
}

.arrow {
  position: fixed;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  display: inline-block;
  background-image: url("../src/img/skills/next.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.footer .footer-contacts {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.footer .footer-contacts .footer-contacts__email {
  display: inline-block;
  padding: 15px 25px 15px 25px;
  border-radius: 12px;
  background-color: #e9e2d9;
  margin-bottom: 45px;
}
.footer .footer-contacts .footer-contacts__whrite-me {
  text-align: center;
  color: #ddcccc;
  margin-bottom: 25px;
}
.footer .footer-contacts .footer-contacts__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.footer .footer-contacts .footer-contacts__list .footer-contacts__list-item {
  text-align: center;
}
.footer .footer-contacts .footer-contacts__list .footer-contacts__list-item .list-item-link {
  width: 40px;
  height: 40px;
}
.footer .footer-contacts .footer-contacts__list .footer-contacts__list-item .list-item-link.fb {
  display: inline-block;
  background-image: url("../src/img/social/facebook.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .footer-contacts .footer-contacts__list .footer-contacts__list-item .list-item-link.insta {
  display: inline-block;
  background-image: url("../src/img/social/instagram.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .footer-contacts .footer-contacts__list .footer-contacts__list-item .list-item-link.in {
  display: inline-block;
  background-image: url("../src/img/social/linkedin.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}